# Auto detect text files and perform LF normalization
* text=auto
blockout/Library/Bee/1900b0aE.dag.json eol=lf
* txt eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Assembly-CSharp-Editor.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/PPv2URPConverters.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.AI.Navigation.Editor.ConversionSystem.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.AI.Navigation.Editor.ConversionSystem.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.AI.Navigation.Editor.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.AI.Navigation.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.AI.Navigation.Updater.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.Burst.CodeGen.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.Burst.Editor.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.Burst.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.Collections.CodeGen.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.Collections.Editor.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.Collections.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.InputSystem.ForUI.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.InputSystem.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.Mathematics.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.Mathematics.Editor.rsp
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.Multiplayer.Center.Common.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.Multiplayer.Center.Editor.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.PerformanceTesting.Editor.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.Rendering.LightTransport.Editor.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.Rendering.LightTransport.Runtime.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.RenderPipeline.Universal.ShaderLibrary.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.RenderPipelines.Core.Editor.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.RenderPipelines.Core.Editor.Shared.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.RenderPipelines.Core.Runtime.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.RenderPipelines.Core.Runtime.Shared.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.RenderPipelines.Core.ShaderLibrary.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.RenderPipelines.GPUDriven.Runtime.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.RenderPipelines.Universal.2D.Runtime.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.RenderPipelines.Universal.Config.Runtime.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.RenderPipelines.Universal.Editor.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.RenderPipelines.Universal.Runtime.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.RenderPipelines.Universal.Shaders.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.Rider.Editor.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.Searcher.Editor.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.ShaderGraph.Editor.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.ShaderGraph.Utilities.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.TextMeshPro.Editor.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.TextMeshPro.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.Timeline.Editor.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.Timeline.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Core.Editor.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Core.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Flow.Editor.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Flow.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.SettingsProvider.Editor.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Shared.Editor.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.State.Editor.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.State.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/Unity.VisualStudio.Editor.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/UnityEditor.TestRunner.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/UnityEditor.UI.rsp eol=lf
blockout/Library/Bee/artifacts/1900b0aE.dag/UnityEngine.UI.rsp'eol=lf


* txt eol=lf
